.DataHistoryWidget {
  background: transparent;
  border: 2px solid #333;
  color: #fff;
  padding: 4px 12px;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background: rgba(0, 12, 31, 0.66);
}

.DataHistoryWidget button {
  margin: 0;
  margin-left: 8px;
  font-size: 14px;
  padding: 4px 12px;
}

.CurrentWeatherWidget,
.TomorrowWeatherWidget,
.DailyWeatherWidget {
  flex: 15 15 auto;
}

.CurrentWeatherWidget,
.TomorrowWeatherWidget {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.CurrentWeatherWidget .imgDiv,
.TomorrowWeatherWidget .imgDiv,
.HourlyWeatherWidget .imgDiv,
.DailyWeatherWidget .imgDiv {
  width: 84px;
  height: 84px;
  border: 0;
  border-radius: 4px;
  /* background: rgba(255, 255, 255, 0.33); */
  background: transparent;
  background-repeat: no-repeat !important;
  /* background-size: cover !important; */
  background-position: center center !important;
  display: inline-block;
  vertical-align: middle;
  filter: drop-shadow(0px 0px 8px rgb(155, 255, 255));
}

@media only screen and (max-width: 500px) {
  .CurrentWeatherWidget .imgDiv,
  .TomorrowWeatherWidget .imgDiv {
    width: 42px;
    height: 42px;
    background-size: 60px !important;
  }
}

.HourlyWeatherWidget {
  padding: 0px 4px !important;
  padding-bottom: 8px !important;
  flex: 1 1 auto;
  align-self: center;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}

.HourlyWeatherWidget .imgDiv,
.DailyWeatherWidget .imgDiv {
  width: 42px;
  height: 42px;
  background-size: 60px !important;
}

.HourlyWeatherWidgetItem {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-right: 8px;
  align-self: center;
  background: #212121;
  background: rgba(33, 33, 33, 0.66);
  border: 0;
  border-left: 6px solid #333;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.HourlyWeatherWidgetItem.day {
  border-color: rgba(19, 202, 226, 0.7);
}

.HourlyWeatherWidgetItem.night {
  border-color: rgba(15, 8, 66, 0.7);
}

.HourlyWeatherWidgetItem.twilight {
  border-color: rgba(19, 150, 205, 0.7);
}

.DailyWeatherWidget {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  /* max-height: 60vh; */
}

.DailyWeatherWidgetItem {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 8px;
  background: #212121;
  background: rgba(33, 33, 33, 0.66);
  border-radius: 4px;
  color: #fff;
  padding: 12px 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  cursor: pointer;
}

.DayNightMeter .tooltipHost {
  flex: 1 1 auto;
  margin: 0px 2px !important;
}

.DayNightMeter .DayNightMeterItem {
  height: 36px;
  min-width: 4px;
  background: #ccc;
  flex: 1 1 auto;
  margin: 0;
  border-radius: 2px;
  text-align: center;
  letter-spacing: 0px !important;
}

.DayNightMeter .DayNightMeterItem.day {
  background-color: rgba(19, 202, 226, 0.7);
}

.DayNightMeter .DayNightMeterItem.night {
  background-color: rgba(15, 8, 66, 0.7);
}

.DayNightMeter .DayNightMeterItem.twilight {
  background-color: rgba(19, 150, 205, 0.7);
}

.DayNightMeter .DayNightMeterItem.current {
  transform: scale(1.2);
  margin: 0px 4px;
}
